* {
  margin: 0;
  padding: 0;
}

body {
  height: 1vh;
  background-color: #242424;
}

.wrapper {
  width: 700px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  display: none;
}

.slides-wrapper {
  width: 100%;
  /* height: 40px;
  overflow: hidden;
  width: 40px; */
  height: auto;
  overflow: hidden;
  box-shadow: 2px 2px 20px 6px #000;
}

.slider-images {
  display: flex;
  width: 500%;
  transition: all 0.5s;
}

.slide {
  width: 700px;
  height: 400px;
  object-fit: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* border: red 1px solid; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#radio1:checked ~ .slides-wrapper .slider-images {
  margin-left: 0;
}
#radio2:checked ~ .slides-wrapper .slider-images {
  margin-left: -100%;
}
#radio3:checked ~ .slides-wrapper .slider-images {
  margin-left: -200%;
}
#radio4:checked ~ .slides-wrapper .slider-images {
  margin-left: -300%;
}
#radio5:checked ~ .slides-wrapper .slider-images {
  margin-left: -400%;
}

.image1 {
  /* background-image: url("./images/meme1.webp"); */
}
.image2 {
  /* background-image: url("./images/meme2.webp"); */
}
.image3 {
  /* background-image: url("./images/meme3.webp"); */
}
.image4 {
  /* background-image: url("./images/meme4.webp"); */
}
.image5 {
  /* background-image: url("./images/meme5.webp"); */
}

.slider-caption {
  width: 490px;
  height: 46px;
  overflow: hidden;
}

.text-wrapper {
  width: 500%;
  display: flex;
  transition: all 0.5s;
}

#radio1:checked ~ .slider-caption .text-wrapper {
  margin-left: 0;
}
#radio2:checked ~ .slider-caption .text-wrapper {
  margin-left: -100%;
}
#radio3:checked ~ .slider-caption .text-wrapper {
  margin-left: -200%;
}
#radio4:checked ~ .slider-caption .text-wrapper {
  margin-left: -300%;
}
#radio5:checked ~ .slider-caption .text-wrapper {
  margin-left: -400%;
}

.text {
  width: 100%;
  padding: 20px 0;
  font-family: "Brush Script MT", cursive;
  font-size: 1em;
  color: #fff;
}

.navigation {
  margin: 20px 0;
  display: flex;
}

label {
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  line-height: 22px;
  cursor: pointer;
}

.circle {
  display: inline-block;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: rgb(73, 167, 255);
}

label:hover .circle {
  background-color: #fff;
}

#radio1:checked ~ .navigation .navigation1 .circle,
#radio2:checked ~ .navigation .navigation2 .circle,
#radio3:checked ~ .navigation .navigation3 .circle,
#radio4:checked ~ .navigation .navigation4 .circle,
#radio5:checked ~ .navigation .navigation5 .circle {
  background: transparent;
  border: 2px solid rgb(73, 167, 255);
}

#radio1:checked ~ .navigation .navigation1:hover .circle,
#radio2:checked ~ .navigation .navigation2:hover .circle,
#radio3:checked ~ .navigation .navigation3:hover .circle,
#radio4:checked ~ .navigation .navigation4:hover .circle,
#radio5:checked ~ .navigation .navigation5:hover .circle {
  border-color: #fff;
}

#radio1:active ~ .navigaion .navigation1 .circle:hover,
#radio2:active ~ .navigaion .navigation2 .circle:hover,
#radio3:active ~ .navigaion .navigation3 .circle:hover,
#radio4:active ~ .navigaion .navigation4 .circle:hover,
#radio5:active ~ .navigaion .navigation5 .circle:hover {
  background-color: rgb(207, 206, 206);
}

@media (max-width: 768px) {
  .wrapper {
    width: 400px;
    margin: 10% auto;
    justify-content: center;
  }

  .slides-wrapper {
    height: 300px;
  }

  .slide {
    width: 400px;
    height: 300px;
  }

  .slider-caption {
    order: 2;
    width: 100%;
  }

  .text {
    padding: 16px 0;
  }

  .navigation {
    margin-top: 16px;
  }
}
/* 
@media (max-width: 420px) {
  .wrapper {
    width: 300px;
    margin: 20% auto;
  }

  .slides-wrapper {
    height: 168px;
  }

  .slide {
    width: 300px;
    height: 168px;
  }

  .text {
    font-size: 0.8em;
  }

  .circle {
    width: 10px;
    height: 10px;
  }
} */
